.auth-page {
    min-height: calc(100vh - 40px);

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 40px 20px;

    color: white;
}


.auth-card {
    width: 100%;
    max-width: 450px;

    padding: 34px;

    border: 1px solid #292929;
    border-radius: 14px;

    background: #141414;

    box-shadow:
        0 20px 60px rgba(0, 0, 0, 0.25);
}


.auth-brand {
    margin-bottom: 16px;

    color: #f59e0b;

    font-size: 10px;
    font-weight: 850;

    letter-spacing: 1.7px;
}


.auth-card h1 {
    margin: 0 0 7px;

    font-size: 29px;
    font-weight: 800;
}


.auth-subtitle {
    margin: 0 0 27px;

    color: #7c7c7c;

    font-size: 12px;
    line-height: 1.5;
}


/* FORM */

.form-group {
    display: flex;
    flex-direction: column;

    gap: 7px;

    margin-bottom: 16px;
}


.form-group label {
    color: #bcbcbc;

    font-size: 10px;
    font-weight: 700;
}


.form-group input {
    width: 100%;

    padding: 12px 13px;

    border: 1px solid #303030;
    border-radius: 8px;

    background: #0c0c0c;

    color: white;

    outline: none;

    font-size: 12px;
}


.form-group input:focus {
    border-color: #f59e0b;
}


/* ERROR */

.form-error {
    margin-bottom: 15px;

    padding: 10px 11px;

    border: 1px solid rgba(239, 68, 68, 0.35);
    border-radius: 7px;

    background: rgba(239, 68, 68, 0.08);

    color: #f87171;

    font-size: 10px;
}


/* BUTTON */

.register-btn {
    width: 100%;

    min-height: 43px;

    margin-top: 3px;

    border: none;
    border-radius: 8px;

    background: #f59e0b;

    color: #080808;

    font-size: 12px;
    font-weight: 850;

    cursor: pointer;
}


.register-btn:hover {
    background: #fbbf24;
}


/* FOOTER */

.auth-footer {
    display: flex;
    justify-content: center;

    gap: 5px;

    margin-top: 22px;

    color: #777777;

    font-size: 10px;
}


.auth-footer a {
    color: #f59e0b;

    text-decoration: none;

    font-weight: 700;
}